.search {
    padding: 40px;
    margin: 20px 0;
    border: 1px solid lightgray;
    background-color: white;
    position: relative;
}

.search__result {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}